 {% extends "base.html" %}

 {% block content %}
     {% load staticfiles %}
  <body>
    <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="https://2019.spaceappschallenge.org/challenges/living-our-world/spot-fire-v20/details">
            Nasa SpaceApps &</a>            
            <a class="navbar-brand" href="https://2019.spaceappschallenge.org/challenges/living-our-world/spot-fire-v20/teams/inbellis/">
              INBELLIS</a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" color="white">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="../" class="dropdown-item">Home</a>
            </li>
            <li class="nav-item">
                <a href="../missao" class="dropdown-item">Missão</a>
            </li>
            <li class="nav-item">
                <a href="../cadastro" class="dropdown-item">Cadastro</a>
            </li>
            <li class="nav-item">
              <a href="../estatistica" class="dropdown-item">Estatistica</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="section section-signup page-header" style="background-image: url('{% static 'assets/img/floresta_Amazonica.jpg' %}');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <div class="card card-login">
                <form class="form" method="post" action="">
                    {% csrf_token %}
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Cadastro</h4>
                        <a href="../home" class="btn btn-link btn-primary" color="white">Por quê é importante se cadastrar?</a>
                  </div>
                  <div class="card-body">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
{#                      <input type="text" class="form-control" placeholder="Nome completo" required>#}
                        {{ form.nome }}
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" border-left="-20px">
                            <i class="material-icons">chat</i>
                            </span>
                        </div>
{#                        <input type="text" class="form-control" placeholder="Telefone" required>#}
                        {{ form.telefone }}
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
{#                      <input type="text" class="form-control" placeholder="E-mail">#}
                        {{ form.email }}
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">chat</i>
                          </span>
                        </div>
{#                        <input type="text" class="form-control" placeholder="CEP">#}
                        {{ form.cep }}
                    </div>
                    <!-- Será que precisa de um if aqui?
                         <input type="checkbox" name="Não tenho CEP" value="cep" unchecked>Não tenho CEP<br>
                    -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" border-left="-20px">
                          <i class="material-icons">chat</i>
                          </span>
                      </div>
{#                      <input type="text" class="form-control" placeholder="Cidade" required>#}
                        {{ form.cidade }}
                    </div>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">chat</i>
                          </span>
                        </div>
{#                        <input type="text" class="form-control" placeholder="Cadastro de propriedade rural (IPTU)">#}
                          {{ form.iptu }}
                    </div>
                </div>
                  <div class="footer text-center">
                    <p></p>
                    <input type="Submit" value="Registrar"> </input>
                    <p></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
 {% endblock %}

 </html>