
 {% extends "base.html" %}


 {% block content %}
 
     {% load staticfiles %}
 
   <div class="page-header" data-parallax="true" style="background-image: url('{% static 'assets/img/floresta_Amazonica.jpg' %}')">
     <div class="container">
       <div class="row">
         <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
              <h1 class="title text-center">Qual é a missão da Inbellis?</h1>
              <hr size="1">
            </div>
         </div>
       </div>
       <div></div> 
     </div>
   </div>
   <div class="main main-raised">
     <div class="container">
       <div class="section text-center">
         <h2 class="title">Missão</h2>
         <h3>Dar a sociedade a oportunidade de interagir com seus pares, 
             preservando a fauna e a flora de forma sustentável diminuindo a degradação de habitats naturais e rurais
            </h3>
         <h2 class="title">Explicação da logo</h2>
         <img style="max-width:100%" src="../static/assets/img/slogo.png">
         <h3>"Inbellis" vem do latim e que significa "combatente". O objetivo deste nome é poder gerar impacto no combate às queimadas, e posteriormente
           poder preveni-las. 
          <br> 
          Decidimos por escolher as abelhas como mascote da equipe e do projeto (que leva
           o mesmo nomoe) pelo fato de serem as mais atingidas pelos incêndios, principalmente na Amazônia. Além de serem consideradas as mais importantes
           forma de vida para o planeta.
         </h3>
       </div>
        <div>
          <p></p>
        </div>
      </div>
     </div>
   </div>
 </div>
 
 
 {% endblock %}
 
 </html>